<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>

  <h2>Team Name: Brooklyn Nets</h2>
    <p>Coach: Louis Armstrong</p>
    <p>Point Guard: Ella Fitzgerald</p>
    <p>Shooting Guard Miles Davis</p>
    <p>Small Forward: Dave Brubeck</p>
    <p>Power Forward: John Coltrane</p>
    <p>Center: Sonny Rollins</p>
 </head>
 <body>



 </body>
</html>
