<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>

  <h2>Team Name: Brooklyn Nets</h2>
  <form method="GET" action="/newteam">
    <p>Team Name: <input type="text" name="Team Name: Brooklyn Nets"></p>
    <p>Coach: <input type="text" name="Louis Armstrong"></p>
    <p>Point Guard: <input type="text" name="Ella Fitzgerald"></p>
    <p>Shooting Guard <input type="text" name="Miles Davis"></p>
    <p>Small Forward: <input type="text" name="Dave Brunbeck"></p>
    <p>Power Forward: <input type="text" name="John Coltrane"></p>
    <p>Center: <input type="text" name="Sonny Rollins"></p>
    <button type="submit" value="Submit">Submit</button>
 </head>
 <body>



 </body>
</html>
